footer{
    background: #000000;
    padding: 60px 20px;
}
footer h2{
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    font-size: 1.5rem;
}
footer p{
    font-size: 1rem;
    color: #b2b2b2;
}
footer a{
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: #b2b2b2;
}

footer a::before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -8px;
    transition: all .3s ease;
}
footer a:hover{
    color: #ffffff;
}
footer a:hover::before{
    width: 100%;
    background: #ffbb00;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}
footer ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer ul li.endereco{
    border-top: solid 2px #111111;
    border-bottom: solid 2px #111111;
    padding: 10px 0;
}
footer ul li.redes-sociais{
    flex-direction: row;
    margin: 20px 0;
}
footer ul li.redes-sociais a img{
    width: 32px;
    height: 32px;
}
footer ul li.redes-sociais a:hover::before{
    width: 100%;
    background: #ffbb00;
}

footer .content-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

footer .content-wrapper .context-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
    gap: 40px;
}